!nl.ne30.cori
!nl.ne30.chey
namelists/nl.*
*.swp
dates.*
core-*
index.HOLD
trajectories.txt.*
*syndata.tcvitals*
atcf.*
tcvitals*
*dat
upload_ncl.sh.*
ncl.output
*-NCEP.nc
simple.nc
nohup*
html_for_upload/20*
*.Log
core.*
*.png
out.*
*.grb
*.grb2
