*.BAK
index.html
FZRA/
output.fzra
output.jet*
*.tcst
timing.txt
user_nl_cam
.DS_Store
cyclone-tracking/fin-atcf/
namelists/WUS/
*_ESMF.nc
gen_nudge_betacast.o*
commands*.txt
perturb.*.nl
deltas_*.nc
map_*patc.nc
forcing-gen.*
grid_deltas.nc
grid_se_*.nc
map_ll_to_se_*.nc
map_se_*_to_ll.nc
log.*.out
!ERA-Int_SCRIP.nc
!ERA-Interim_coordvars.nc
atm_to_cam/getECMWFdata/*.nc
*__pycache__*
*_SCRIP.nc
!nl.ne30.cori
!nl.ne30.chey
namelists/nl.*
*.swp
dates.*
core-*
index.HOLD
trajectories.txt.*
*syndata.tcvitals*
atcf.*
tcvitals*
*dat
upload_ncl.sh.*
ncl.output
*-NCEP.nc
simple.nc
nohup*
html_for_upload/20*
*.Log
core.*
*.png
out.*
*.grb
*.grb2
