# Grid things
*.g
*_stereo.png
refine_map.dat

## DOCN stuff
domain.ocn.*.nc
scrip.ocn.*.nc
ESMF.ocn.*.nc

## Slab ocean stuff
# ALCC files
sst_cice*.nc

## Seeding/unseeding nl
atm_to_cam/tcseed/config.seed
atm_to_cam/tcseed/config.unseed
atm_to_cam/tcseed/seed.ape.nl
atm_to_cam/tcseed/unseed.ape.nl

## Nudging namelists
atm_to_cam/nudging/ndg*nl

## Perturb grids
atm_to_cam/perturb/grids/

## Output streams
output_streams/*

## Logs
slurm*.out
log.*
nohup*
*.Log
out.*
timing.txt

## Betacast namelists
namelists/*
!nl.ne30.cori
!nl.ne30.chey
perturb.*.nl
nl.landspinup*
!nl.landspinup.pm-cpu
!nl.landspinup.derecho

## Model namelists
user_nl_cam
user_nl_eam

## Local backups
BAK/
*.BAKx

## HTML/viz code
index.html
index.HOLD
upload_ncl.sh.*
ncl.output
html_for_upload/20*
*.png

## Tracking stuff
cyclone-tracking/fin-atcf/
cyclones_tempest*
*.tcst
trajectories.txt.*
*syndata.tcvitals*
atcf.*
tcvitals*
*dat

## Misc.
batch-clone2.sh
land-spinup/batch-auto-alan.sh
.DS_Store
.SEED*
FZRA/
output.fzra
output.jet*
*_ESMF.nc
gen_nudge_betacast.o*
commands*.txt
deltas_*.nc
map_*patc.nc
forcing-gen.*
grid_deltas.nc
grid_se_*.nc
map_ll_to_se_*.nc
map_se_*_to_ll.nc
!ERA-Int_SCRIP.nc
!ERA-Interim_coordvars.nc
atm_to_cam/getECMWFdata/*.nc
*__pycache__*
*_SCRIP.nc
*.swp
dates.*
core-*
*-NCEP.nc
simple.nc
core.*
*.grb
*.grb2
m2mfile*
